Repository datayoga-io/datayoga, pull requests merged in 2023-09, with the labels that each got.

#325 322: redis.lookup block(nested assignments)
  core/src/datayoga_core/blocks/redis/lookup/block.py
  core/src/datayoga_core/utils.py
  integration-tests/resources/jobs/tests/redis_lookup_string_nested.yaml
  integration-tests/test_redis_lookup.py
Labels: enhancement, block

#326 Dry mode for `redis.lookup`
  core/src/datayoga_core/blocks/redis/lookup/block.py
Labels: block

#328 fix dependencies
  core/pyproject.toml
Labels: bug
